/* Estilo para el contenedor de resultados */
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
}

/* Estilo para el cuerpo de la página */
body {
    background-image: linear-gradient(80deg, rgb(5, 124, 172), rgb(199, 10, 114));
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    font-family: Arial, sans-serif; /* Fuente predeterminada para el texto */
    color: white; /* Texto blanco para una mejor visibilidad en el fondo negro */
}


/* Estilo para cada tarjeta de película */
.card {
    width: 100%;
    height: 550px;
    margin: 10px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    text-align: center;
    color: black;
    position: relative;
}


.card-img-top {
    font-size: 1rem;
}


/* Estilo para el botón "Movies" */
.btn {
    background-color: #0966D0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.btn:hover {
    background-color: white;
}

.card:hover {
    transform: scale(1.05);
}

/* Estilo para la imagen dentro de la tarjeta */
.card img {
    width: 100%; /* La imagen ocupará todo el ancho de la tarjeta */
    height: 100%; /* La imagen ocupará todo el alto de la tarjeta */
    object-fit: cover; /* Asegura que la imagen cubra todo el espacio del contenedor */
}

/* Estilo para el encabezado */
#title {
    font-size: 24px;
    margin: 10px 0;
}

#search{
    text-align: center;
}

/* Estilo para el input de búsqueda */
#searchBar {
    font-size: inherit;
    background-color: #f2f2f2;
    border: 0.2em solid #7e7;
    border-radius: 5px 5px 5px 5px;
    outline: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: #333;
    width: 30%;
    height: 10px;
    margin: 10px;
    padding: 10px;
    cursor: pointer; /* Cambia el cursor a un puntero al pasar el mouse sobre la barra de búsqueda */
}


/* Estilo para la imagen del logotipo */
#logo img {
    max-width: 100%;
}

/* Estilo para el encabezado de la sección de búsqueda */
#search h2 {
    font-size: 20px;
    margin: 20px 0;
}

/* Estilo para la imagen del logotipo */
#logo {
    text-align: center; /* Centra horizontalmente el contenido del contenedor */
}

#logo img {
    max-width: 200px; /* Ajusta el ancho máximo según tus preferencias */
    display: block; /* Quita el espacio extra debajo de la imagen */
    margin: 0 auto; /* Centra horizontalmente la imagen dentro del contenedor */
}
