/* ---- ----- ----- NETFLIX ----- ----- ----- */

/* Formato del Body para que tenga el fondo de Netflix*/
.netflix-background {
	background: linear-gradient(230.93deg, #DC1721 -8%, rgba(68, 18, 77, 0.5) 40%, rgba(5, 0, 0, 0) 80%), #000000;
	color: #ffffff;
}

/* --- Título --- */

.titulo-netflix{
	margin-bottom: 7%;
	display: flex;
	justify-content: center;
	align-items: center;	
	min-height: 25vh;
}

video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 45%;
	object-fit: cover;
	pointer-events: none;
	mix-blend-mode: screen;
}


/* --- Botones Pop-up --- */

.btn-abrir-netflix{
	background-color: #000000;
	color: #fff;
	cursor: pointer;
	border-radius: 6px;
	padding: 0.5vw 1.5vh;
	font-size: 1vw;
}

.btn-abrir-netflix:hover{
	background-color: #b51422ff;
}


.btn-atras-netflix{
    background-color: #b51422ff;
    border: 0;
    border-radius: 7px;
    color: #fff;
    font-size: 1.2vw;
    padding: 0.6vw 2.8vh;
	font-size: 1.2vw;
	margin-bottom: 1%;
	font-weight: bold;
	cursor: pointer;
	display: block;
}

.btn-atras-netflix:hover{
	box-shadow: 0 2px 4px rgba(255, 255, 255, 0.986);
}

.btn-ver-netflix{
	background-color: rgb(56, 38, 40);
	color: #fff;
    border: 0;
    border-radius: 10px;
    font-size: 1.1vw;
    padding: 0.7vw 2vh;
	margin-top: 2%;
	cursor: pointer;
}

.btn-ver-netflix:hover{
	background-color: #b51422ff;
	color: #fff;
}


.btn-cerrar-netflix{
	display: block;
    background-color: #b31422ff;
    border: 0;
    border-radius: 7px;
    color: #fff;
    font-size: 1.2vw;
    padding: 1vw 4.5vh;
	margin:0 auto;
	margin-top: 10%;
	font-weight: bold;
	cursor: pointer;
}

.btn-cerrar-netflix:hover{
	box-shadow: 0 2px 10px rgb(255, 255, 255);	
}


/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

/*  ---- ----- ----- Contenedor principal y flechas  ---- ----- ----- */

/* Agrega flechas a los costados alineadas con las imagenes en el centro */
.peliculas-recomendadas{ 
	display: flex;
	align-items: center;
	position: relative;
}

/* Dar formato a las flechas de izquierda y derecha*/
.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
position: absolute;
border: none;
background: rgba(0,0,0,0.3);
font-size: 4vw;
height: 50%;
top: calc(50% - 25%);
line-height: 40px;
width: 50px;
color: #fff;
cursor: pointer;
z-index: 500;
transition: .2s ease all;
}

/* Indicar el color de fondo de las flechas cuando se pase el cursor por arriba */
.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
background: #DC1721; /* El color de Netflix */
}

/* Indicar la posición de la flecha derecha respecto a los márgenes */
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.peliculas-recomendadas .contenedor-carousel {
width: 100%;
padding: 20px 0;
overflow: hidden;
scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carousel .carousel {
display: flex;
flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
min-width: 20%;
transition: .3s ease all;
box-shadow: 5px 5px 10px rgba(0,0,0, .3);
position: relative;
overflow: hidden;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover {
/* transform: scale(1.2); */
transform-origin: center;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
width: 100%;
vertical-align: top;
}


.peliculas-recomendadas .contenedor-carousel .carousel .pelicula .capa-pelicula-serie{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.5);
display: flex;
justify-content: center;
align-items: center;
transform: scale(0);
transition: .3s ease;
font-size: 1.3vw;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula:hover .capa-pelicula-serie{
transform: scale(2);
}

.enlace-ver-pelicula-serie{
color: #fff;

} 


/* --- Botón de suscripción --- */


.btn-suscripcion-netflix{
	border:3px solid;
	display: flex;
	font-size: 2vw;
	padding: 1vw 3vh;
	cursor: pointer;
	margin-top: 8%;
	margin-bottom: 4%;
	position: relative;
	text-decoration: none;
	letter-spacing: 0.3vw;
	border-radius: 10px;
	transition: all 0.6s ease;
	background: #DC1721;
}

.btn-suscripcion-netflix:hover{
	background:rgb(167, 9, 9);
	box-shadow: 0 0 20px var(--color);
	border-color: var(--color);
}

.btn-enlace-netflix{
	color: #fff;
}


