<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../icon/Amazon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../css/general.css">
    <link rel="stylesheet" type="text/css" href="../css/amazon_prime_vide.css">
    <title>Amazon</title>
</head>

<body class="amazon-background">

    <!-- Encabezado -->
    <header>
        <nav>
            <div class="btn-header">
            <a href="../index.html"><img src="../img/Inicio.png" alt="">
                <h1 class="btn-inicio">Inicio</h1>
            </a>
            <a href="netflix.html"><img src="../img/netflix.png" alt=""></a>
            <a href="amazon_prime_video.html"><img src="../img/amazon.png" alt=""></a>
            <a href="disney.html"><img src="../img/disney.png" alt=""></a>
            <a href="hbo_max.html"><img src="../img/hbo.png" alt=""></a>
            <a href="formulario.html"><img src="../img/formulario-de-contacto.png" alt=""></a>
            </div>
        </nav>
    </header>

    <!-- Contenido -->
    <main>

        <div class="titulo-amazon">
            <video src="../videos/intro_amazon.mp4" muted="" autoplay="" loop=""></video>
        </div>


        <section class="contenido">
            <div>
                <div>
                    <h1>¿Qué hay para ver en Amazon?</h1>

                    <p>El catálogo de Amazon es sumamente amplio y además va variando mes a mes con nuevos estrenos y
                        cambiando la programación. Podrás disfrutar de series, películas, documentales, docuseries y
                        más, pasando por todos los géneros: acción, aventuras, comedias, infantiles, dramas, musicales,
                        thrillers, TV shows, cine independiente y producciones nacionales.</p>
                </div>

                <div>
                    <h2>Las mejores series que tiene Amazon</h2>
                <ul class="lista-peliculas">
                    <li>
                        <i class="fa-solid fa-video"></i> Scream 6.
                        <button class="btn-abrir-apv"  onclick="mostrarPopup('popup21')">Ver más</button>
                                
                        <div id="popup21" class="popup">
                                        
                        <!-- Título y subtítulos -->
                        <img class="imagen-seriesypelis" src="../img/Portadas_Amazon/Pelis/1.jpg">
                        <h1>Scream 6</h1>
                        <h5>Terror | Misterio | Suspenso | 2h 2min</h5>
                                                
                        <!-- Botón de tráiler -->
                        <button class="btn-ver-apv" onclick="abrirTrailer('trailer21')"> Ver Tráiler
                        </button>
                            
                        <div id="trailer21" class="popupTrailer">
                        
                        <iframe width="410" height="355" src="https://www.youtube.com/embed/03n1lgk8E9U?si=YMAMC7eKE2yxXwGc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            
                        <button class="btn-atras-apv" onclick="cerrarTrailer('trailer21')">Atrás</button>
                        
                        </div>

                        <button class="enlace-ver-apv">
                            <a href="https://www.primevideo.com/detail/0FX10XBWOU67PWY3GN3NYPWEY4/ref=atv_dp_cr_open_hov?language=es_ES&tab=details" target="_blank" class="href-enlaces">Ver Película</a>
                        </button>
                            
                        <!-- Sinopsis -->
                        <p>Los cuatro sobrevivientes de los asesinatos de Ghostface dejan atrás Woodsboro y comienzan un nuevo capítulo en la ciudad de Nueva York.</p>
                                                
                        <!-- Botón para cerrar -->
                        <button class="btn-cerrar-apv" onclick="cerrarPopup('popup21')">Cerrar</button>
                                                
                        </div>
                    </li>
                
                    <li>
                        <i class="fa-solid fa-video"></i> Fatum.
                        <button class="btn-abrir-apv"  onclick="mostrarPopup('popup22')">Ver más</button>
                                
                        <div id="popup22" class="popup">
                                        
                        <!-- Título y subtítulos -->
                        <img class="imagen-seriesypelis" src="../img/Portadas_Amazon/Pelis/2.PNG">
                        <h1>Fatum</h1>
                        <h5>Crimen | Drama | Suspenso | 1h 31min</h5>
                                                
                        <!-- Botón de tráiler -->
                        <button class="btn-ver-apv" onclick="abrirTrailer('trailer22')"> Ver Tráiler
                        </button>
                            
                        <div id="trailer22" class="popupTrailer">
                        
                        <iframe width="410" height="355" src="https://www.youtube.com/embed/6TZeSpR9YlQ?si=zPR2OamtpKu33hgQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            
                        <button class="btn-atras-apv" onclick="cerrarTrailer('trailer22')">Atrás</button>
                        
                        </div>

                        <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-apv">
                            <a href="https://www.primevideo.com/detail/Fatum/0H903MVLHHJSTWCJVT665NEOWK" target="_blank" class="href-enlaces">Ver Película</a>
                        </button>
                            
                        <!-- Sinopsis -->
                        <p>Sergio tiene graves problemas con el juego. Tras jurar a su esposa que no volvería a caer, recibe un soplo sobre un supuesto amaño de un partido de fútbol e, incapaz de cumplir su promesa, regresa a la casa de apuestas. El soplo resulta ser cierto, pero Alejo, con un pasado salpicado también por el juego, irrumpe armado en el local.
                        </p>
                                                
                        <!-- Botón para cerrar -->
                        <button class="btn-cerrar-apv" onclick="cerrarPopup('popup22')">Cerrar</button>
                                                
                        </div>
                    </li>
                
                    <li>
                        <i class="fa-solid fa-video"></i> El hotel de los líos.
                        <button class="btn-abrir-apv"  onclick="mostrarPopup('popup23')">Ver más</button>
                                
                        <div id="popup23" class="popup">
                                        
                        <!-- Título y subtítulos -->
                        <img class="imagen-seriesypelis" src="../img/Portadas_Amazon/Pelis/3.PNG">
                        <h1>El hotel de los líos. García y García 2.</h1>
                        <h5>Comedia | Familia | 1h 30min</h5>
                                                
                        <!-- Botón de tráiler -->
                        <button class="btn-ver-apv" onclick="abrirTrailer('trailer23')"> Ver Tráiler
                        </button>
                            
                        <div id="trailer23" class="popupTrailer">
                        
                        <iframe width="410" height="355" src="https://www.youtube.com/embed/VzNWUeq_hw4?si=PjhVRgk-fgPuB5jN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            
                        <button class="btn-atras-apv" onclick="cerrarTrailer('trailer23')">Atrás</button>
                        
                        </div>

                        <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-apv">
                            <a href="https://www.primevideo.com/detail/El-hotel-de-los-l%C3%ADos-Garc%C3%ADa-y-Garc%C3%ADa-2/0LY1XKK7F4VB0RW7QUXDM9JWPR" target="_blank" class="href-enlaces">Ver Película</a>
                        </button>
                            
                        <!-- Sinopsis -->
                        <p>Tras hacerse cargo de un hotelito destartalado, comprado por error en una subasta por un precio desorbitado, los dos Javier García viven una nueva aventura, ayudados esta vez, muy a su pesar, por un grupo de niños superdotados que se alojan en el hotel para asistir a la Final Nacional de Talentos.</p>
                                                
                        <!-- Botón para cerrar -->
                        <button class="btn-cerrar-apv" onclick="cerrarPopup('popup23')">Cerrar</button>
                                                
                        </div>
                    </li>
                
                    <li>
                        <i class="fa-solid fa-video"></i> Maravilloso desastre.
                        <button class="btn-abrir-apv"  onclick="mostrarPopup('popup24')">Ver más</button>
                                
                        <div id="popup24" class="popup">
                                        
                        <!-- Título y subtítulos -->
                        <img class="imagen-seriesypelis" src="../img/Portadas_Amazon/Pelis/4.jpg">
                        <h1>Maravilloso desastre</h1>
                        <h5>Drama | Romance | 1h 36min</h5>
                                                
                        <!-- Botón de tráiler -->
                        <button class="btn-ver-apv" onclick="abrirTrailer('trailer24')"> Ver Tráiler
                        </button>
                            
                        <div id="trailer24" class="popupTrailer">
                        
                        <iframe width="410" height="355" src="https://www.youtube.com/embed/DxjWBIqY5ps?si=gz6vMEhX4yTf3yxW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            
                        <button class="btn-atras-apv" onclick="cerrarTrailer('trailer24')">Atrás</button>
                        
                        </div>

                        <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-apv">
                            <a href="https://www.primevideo.com/detail/Beautiful-Disaster/0MH9U6GQ2KPXQBVJHZS9NBWARF/ref=atv_nb_lcl_es_ES?language=es_ES&ie=UTF8" target="_blank" class="href-enlaces">Ver Película</a>
                        </button>
                            
                        <!-- Sinopsis -->
                        <p>Abby, una universitaria novata, intenta distanciarse de su oscuro pasado mientras resiste la atracción que siente por Travis, un chico malo.</p>
                                                
                        <!-- Botón para cerrar -->
                        <button class="btn-cerrar-apv" onclick="cerrarPopup('popup24')">Cerrar</button>
                                                
                        </div>
                    </li>
                
                    <li>
                        <i class="fa-solid fa-video"></i> Babylon.
                        <button class="btn-abrir-apv"  onclick="mostrarPopup('popup25')">Ver más</button>
                                
                        <div id="popup25" class="popup">
                                        
                        <!-- Título y subtítulos -->
                        <img class="imagen-seriesypelis" src="../img/Portadas_Amazon/Pelis/5.jpg">
                        <h1>Babylon</h1>
                        <h5>Comedia | Drama | Historia | 3h 9min</h5>
                                                
                        <!-- Botón de tráiler -->
                        <button class="btn-ver-apv" onclick="abrirTrailer('trailer25')"> Ver Tráiler
                        </button>
                            
                        <div id="trailer25" class="popupTrailer">
                        
                            <iframe width="410" height="355" src="https://www.youtube.com/embed/K5U-e1YbLT4?si=fhm76McL8dQBJBxh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            
                        <button class="btn-atras-apv" onclick="cerrarTrailer('trailer25')">Atrás</button>
                        
                        </div>

                        <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-apv">
                            <a href="https://www.primevideo.com/detail/0NZH4114FRJX4Q6TY86RD6Y9TX/ref=atv_dp_amz_c_UTPsmN_1_4?language=es_ES" target="_blank" class="href-enlaces">Ver Película</a>
                        </button>
                            
                        <!-- Sinopsis -->
                        <p>Una historia de ambición y excesos desmesurados que recorre la ascensión y caída de múltiples personajes durante una época de desenfrenada decadencia y depravación en los albores de Hollywood.</p>
                                                
                        <!-- Botón para cerrar -->
                        <button class="btn-cerrar-apv" onclick="cerrarPopup('popup25')">Cerrar</button>
                                                
                        </div>
                    </li>
                
                    <li>
                        <i class="fa-solid fa-video"></i> Última noche en el Soho.
                        <button class="btn-abrir-apv"  onclick="mostrarPopup('popup26')">Ver más</button>
                                
                        <div id="popup26" class="popup">
                                        
                        <!-- Título y subtítulos -->
                        <img class="imagen-seriesypelis" src="../img/Portadas_Amazon/Pelis/6.jpg">
                        <h1>Última noche en el Soho</h1>
                        <h5>Drama | Terror | Misterio | 1h 56min</h5>
                                                
                        <!-- Botón de tráiler -->
                        <button class="btn-ver-apv" onclick="abrirTrailer('trailer26')"> Ver Tráiler
                        </button>
                            
                        <div id="trailer26" class="popupTrailer">
                        
                        <iframe width="410" height="355" src="https://www.youtube.com/embed/v65YKrjYHSM?si=OsTRQNaJJOG_NDz0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            
                        <button class="btn-atras-apv" onclick="cerrarTrailer('trailer26')">Atrás</button>
                        
                        </div>

                        <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-apv">
                            <a href="https://www.primevideo.com/detail/Last-Night-in-Soho/0TPPKEIXOV4K3CWY5CY8AZB0RV" target="_blank" class="href-enlaces">Ver Película</a>
                        </button>
                            
                        <!-- Sinopsis -->
                        <p>Una joven amante de la moda viaja en el tiempo y termina en Londres en la década de 1960. Allí conoce a su gran ídolo, una cantante. Sin embargo, tiene que descubrir que la vida en ese momento en el Soho es diferente de lo que ella esperaba.</p>
                                                
                        <!-- Botón para cerrar -->
                        <button class="btn-cerrar-apv" onclick="cerrarPopup('popup26')">Cerrar</button>
                                                
                        </div>
                    </li>
                
                    <li>
                        <i class="fa-solid fa-video"></i> John Wick 4.
                        <button class="btn-abrir-apv"  onclick="mostrarPopup('popup27')">Ver más</button>
                                
                        <div id="popup27" class="popup">
                                        
                        <!-- Título y subtítulos -->
                        <img class="imagen-seriesypelis" src="../img/Portadas_Amazon/Pelis/7.jpg">
                        <h1>John Wick 4</h1>
                        <h5>Acción | Crimen | Suspenso | 2h 49min</h5>
                                                
                        <!-- Botón de tráiler -->
                        <button class="btn-ver-apv" onclick="abrirTrailer('trailer27')"> Ver Tráiler
                        </button>
                            
                        <div id="trailer27" class="popupTrailer">
                        
                        <iframe width="410" height="355" src="https://www.youtube.com/embed/qEVUtrk8_B4?si=alZGYDSgBBb6Ofow" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            
                        <button class="btn-atras-apv" onclick="cerrarTrailer('trailer27')">Atrás</button>
                        
                        </div>

                        <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-apv">
                            <a href="https://www.primevideo.com/detail/0PUW4TW6JE3ANJ0FBIAISMPV1J/ref=atv_dp?language=es_ES" target="_blank" class="href-enlaces">Ver Película</a>
                        </button>
                            
                        <!-- Sinopsis -->
                        <p>John Wick descubre un camino para derrotar a La Mesa, pero, antes de que pueda ganarse su libertad, Wick debe enfrentar a un nuevo enemigo con poderosas alianzas en todo el mundo y fuerzas que convierten a viejos amigos en enemigos.</p>
                                                
                        <!-- Botón para cerrar -->
                        <button class="btn-cerrar-apv" onclick="cerrarPopup('popup27')">Cerrar</button>
                                                
                        </div>
                    </li>
                
                    <li>
                        <i class="fa-solid fa-video"></i> El hijo.
                        <button class="btn-abrir-apv"  onclick="mostrarPopup('popup28')">Ver más</button>
                                
                        <div id="popup28" class="popup">
                                        
                        <!-- Título y subtítulos -->
                        <img class="imagen-seriesypelis" src="../img/Portadas_Amazon/Pelis/8.jpg">
                        <h1>El hijo</h1>
                        <h5>Drama | Seria | 2h 2min</h5>
                                                
                        <!-- Botón de tráiler -->
                        <button class="btn-ver-apv" onclick="abrirTrailer('trailer28')"> Ver Tráiler
                        </button>
                            
                        <div id="trailer28" class="popupTrailer">
                        
                        <iframe width="410" height="355" src="https://www.youtube.com/embed/29PAHRKI39c?si=QrfV7Iw8jCObA5HG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            
                        <button class="btn-atras-apv" onclick="cerrarTrailer('trailer28')">Atrás</button>
                        
                        </div>

                        <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-apv">
                            <a href="https://www.primevideo.com/detail/The-Son/0IQZLRK442C03W22XO4ZWQE3LR" target="_blank" class="href-enlaces">Ver Película</a>
                        </button>
                            
                        <!-- Sinopsis -->
                        <p>La agitada vida de Peter con su bebé y su nueva pareja se ve alterada cuando su ex esposa aparece con su hijo adolescente, Nicholas. El joven se ha ausentado de la escuela durante meses, está distante y enojado. Peter se esfuerza por cuidarlo como le hubiera gustado que su propio padre lo hiciera, pero al buscar el pasado para corregir sus errores, pierde de vista cómo aferrarse al presente.</p>
                                                
                        <!-- Botón para cerrar -->
                        <button class="btn-cerrar-apv" onclick="cerrarPopup('popup28')">Cerrar</button>
                                                
                        </div>
                    </li>
                
                    <li>
                        <i class="fa-solid fa-video"></i> Creed 3.
                        <button class="btn-abrir-apv"  onclick="mostrarPopup('popup29')">Ver más</button>
                                
                        <div id="popup29" class="popup">
                                        
                        <!-- Título y subtítulos -->
                        <img class="imagen-seriesypelis" src="../img/Portadas_Amazon/Pelis/9.jpg">
                        <h1>Creed 3</h1>
                        <h5>Drama | Deportes | 1h 56min</h5>
                                                
                        <!-- Botón de tráiler -->
                        <button class="btn-ver-apv" onclick="abrirTrailer('trailer29')"> Ver Tráiler
                        </button>
                            
                        <div id="trailer29" class="popupTrailer">
                        
                        <iframe width="410" height="355" src="https://www.youtube.com/embed/jdEEZeRiyeQ?si=ZF1L5CEDOfXnyyxh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            
                        <button class="btn-atras-apv" onclick="cerrarTrailer('trailer29')">Atrás</button>
                        
                        </div>

                        <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-apv">
                            <a href="https://www.primevideo.com/detail/Creed-III/0PQES8PX4K1N2JI8PRP7WS5OSC/ref=atv_nb_lcl_es_ES?language=es_ES&ie=UTF8" target="_blank" class="href-enlaces">Ver Película</a>
                        </button>
                            
                        <!-- Sinopsis -->
                        <p>Tras dominar el mundo del boxeo, Adonis ha prosperado en su carrera y en su vida familiar. Cuando un amigo de la infancia y antiguo prodigio del boxeo resurge, el enfrentamiento entre ellos será más que una pelea.</p>
                                                
                        <!-- Botón para cerrar -->
                        <button class="btn-cerrar-apv" onclick="cerrarPopup('popup29')">Cerrar</button>
                                                
                        </div>
                    </li>
                
                    <li>
                        <i class="fa-solid fa-video"></i> Culpa Mía.
                        <button class="btn-abrir-apv"  onclick="mostrarPopup('popup30')">Ver más</button>
                                
                        <div id="popup30" class="popup">
                                        
                        <!-- Título y subtítulos -->
                        <img class="imagen-seriesypelis" src="../img/Portadas_Amazon/Pelis/10.jpg">
                        <h1>Culpa mía</h1>
                        <h5>Drama | Romance | 1h 57min</h5>
                                                
                        <!-- Botón de tráiler -->
                        <button class="btn-ver-apv" onclick="abrirTrailer('trailer30')"> Ver Tráiler
                        </button>
                            
                        <div id="trailer30" class="popupTrailer">
                        
                        <iframe width="410" height="355" src="https://www.youtube.com/embed/3dEgSAfw7Zc?si=g2cGm75KYjEUmkLC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            
                        <button class="btn-atras-apv" onclick="cerrarTrailer('trailer30')">Atrás</button>
                        
                        </div>

                        <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-apv">
                            <a href="https://www.primevideo.com/detail/0S0OIMOTSETYIWA2EVTWWH7JR9/ref=atv_dp_amz_c_UTPsmN_1_2?language=es_ES" target="_blank" class="href-enlaces">Ver Película</a>
                        </button>
                            
                        <!-- Sinopsis -->
                        <p>Noah tiene que dejar atrás su pueblo, su novio y sus amigos y mudarse a la mansión del nuevo marido rico de su madre. Allí conoce a Nick, su nuevo hermanastro. Se enamoran perdidamente en secreto.</p>
                                                
                        <!-- Botón para cerrar -->
                        <button class="btn-cerrar-apv" onclick="cerrarPopup('popup30')">Cerrar</button>
                                                
                        </div>
                    </li>
                
                             </ul>
                        </div>
                </section>

        <section class="amazon-pictures">
            <img src="../img/Amazon_Pelis/Amazon_1.jpeg" alt="">
            <img src="../img/Amazon_Pelis/Amazon_2.jpeg" alt="">
            <img src="../img/Amazon_Pelis/Amazon_3.jpeg" alt="">
            <img src="../img/Amazon_Pelis/Amazon_4.jpeg" alt="">
            <img src="../img/Amazon_Pelis/Amazon_5.jpeg" alt="">
            <img src="../img/Amazon_Pelis/Amazon_6.jpeg" alt="">
            <img src="../img/Amazon_Pelis/Amazon_7.jpeg" alt="">
            <img src="../img/Amazon_Pelis/Amazon_8.jpeg" alt="">
            <img src="../img/Amazon_Pelis/Amazon_9.jpeg" alt="">
            <img src="../img/Amazon_Pelis/Amazon_10.jpeg" alt="">
        </section>

        <section class="contenido">
            <div>
                <h2>Las series mas vistas de Amazon Septiembre</h2>

                <ul class="lista-peliculas">
                    <li>
                        <i class="fa-solid fa-video"></i> La plataforma (The Rig).
                        <button class="btn-abrir-apv"  onclick="mostrarPopup('popup31')">Ver más</button>
                                
                        <div id="popup31" class="popup">
                                        
                        <!-- Título y subtítulos -->
                        <img class="imagen-seriesypelis" src="../img/Portadas_Amazon/Series/1.jpg">
                        <h1>La plataforma</h1>
                        <h3>Temporada 1</h3>
                        <h5>Drama | Suspenso | Ciencia Ficción | Acción | Episodios: 6</h5>
                                                
                        <!-- Botón de tráiler -->
                        <button class="btn-ver-apv" onclick="abrirTrailer('trailer31')"> Ver Tráiler
                        </button>
                            
                        <div id="trailer31" class="popupTrailer">
                        
                        <iframe width="410" height="355" src="https://www.youtube.com/embed/f4GtwJoXH0s?si=_0xFKbWXSB5njpLz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            
                        <button class="btn-atras-apv" onclick="cerrarTrailer('trailer31')">Atrás</button>
                        
                        </div>

                        <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-apv">
                            <a href="https://www.primevideo.com/detail/0SK6JEEJ9FNGB291F3J7V0VQRT/ref=atv_dp?language=es_ES" target="_blank" class="href-enlaces">Ver Serie</a>
                        </button>
                            
                        <!-- Sinopsis -->
                        <p>Cuando la tripulación del Kinloch Bravo se ve aislada de toda comunicación con el continente escocés por una niebla misteriosa, deben luchar para encontrar el camino a casa mientras manejan las presiones ambientales, la paranoia y las tensiones crecientes. Pero a medida que la amenaza revela ser algo más allá de su imaginación, la tripulación dividida debe formar una alianza para poder sobrevivir.</p>                                
                        <!-- Botón para cerrar -->
                        <button class="btn-cerrar-apv" onclick="cerrarPopup('popup31')">Cerrar</button>
                                                
                        </div>
                    </li>
                
                    <li>
                        <i class="fa-solid fa-video"></i> Hunters (Temporada 2).
                        <button class="btn-abrir-apv"  onclick="mostrarPopup('popup32')">Ver más</button>
                                
                        <div id="popup32" class="popup">
                                        
                        <!-- Título y subtítulos -->
                        <img class="imagen-seriesypelis" src="../img/Portadas_Amazon/Series/2.jpg">
                        <h1>Hunters</h1>
                        <h3>Temporada 2</h3>
                        <h5>Suspenso | Acción | Drama | Episodios: 8</h5>
                                                
                        <!-- Botón de tráiler -->
                        <button class="btn-ver-apv" onclick="abrirTrailer('trailer32')"> Ver Tráiler
                        </button>
                            
                        <div id="trailer32" class="popupTrailer">
                        
                        <iframe width="410" height="355" src="https://www.youtube.com/embed/ZWTrNmMQCR8?si=83DHO4ix6e_GwXkw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            
                        <button class="btn-atras-apv" onclick="cerrarTrailer('trailer32')">Atrás</button>
                        
                        </div>

                        <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-apv">
                            <a href="https://www.primevideo.com/detail/0PZYBSCH1M6KHPLD102L52TKQK/ref=atv_dp?language=es_ES" target="_blank" class="href-enlaces">Ver Serie</a>
                        </button>
                            
                        <!-- Sinopsis -->
                        <p>Después de que un accidente arruina sus planes en Europa, los cazadores deben reunirse para cazar al nazi más infame de la historia: Adolf Hitler, quien se esconde en Sudamérica. En el pasado, Meyer Offerman (Al Pacino) lucha por mantener su identidad oculta y uno de los terribles secretos de Meyer tienen repercusiones para los cazadores.</p>
                                                
                        <!-- Botón para cerrar -->
                        <button class="btn-cerrar-apv" onclick="cerrarPopup('popup32')">Cerrar</button>
                                                
                        </div>
                    </li>
                
                    <li>
                        <i class="fa-solid fa-video"></i> Harlem (Temporada 2).
                        <button class="btn-abrir-apv"  onclick="mostrarPopup('popup33')">Ver más</button>
                                
                        <div id="popup33" class="popup">
                                        
                        <!-- Título y subtítulos -->
                        <img class="imagen-seriesypelis" src="../img/Portadas_Amazon/Series/3.jpg">
                        <h1>Harlem</h1>
                        <h3>Temporada 2</h3>
                        <h5>Comedia | Episodios: 8</h5>
                                                
                        <!-- Botón de tráiler -->
                        <button class="btn-ver-apv" onclick="abrirTrailer('trailer33')"> Ver Tráiler
                        </button>
                            
                        <div id="trailer33" class="popupTrailer">
                        
                        <iframe width="410" height="355" src="https://www.youtube.com/embed/0h-3tOitLy8?si=LXdZmV4o-cz76joa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            
                        <button class="btn-atras-apv" onclick="cerrarTrailer('trailer33')">Atrás</button>
                        
                        </div>

                        <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-apv">
                            <a href="https://www.primevideo.com/detail/0RVGKLY8M9ZGCIG9LQ0PT036HB/ref=atv_dp?language=es_ES" target="_blank" class="href-enlaces">Ver Serie</a>
                        </button>
                            
                        <!-- Sinopsis -->
                        <p>De la escritora Tracy Oliver (Viaje de chicas), nuestra querida comedia "Harlem" ha vuelto. Continuamos el viaje con estas cuatro elegantes y ambiciosas mejores amigas en Harlem NYC, mientras exploran nuevas caras del amor, la pérdida, los altibajos profesionales, y su amistad se extiende en formas que nunca imaginaron.</p>
                                                
                        <!-- Botón para cerrar -->
                        <button class="btn-cerrar-apv" onclick="cerrarPopup('popup33')">Cerrar</button>
                                                
                        </div>
                    </li>
                
                    <li>
                        <i class="fa-solid fa-video"></i> Operación Marea Negra (Temporada 2).
                        <button class="btn-abrir-apv"  onclick="mostrarPopup('popup34')">Ver más</button>
                                
                        <div id="popup34" class="popup">
                                        
                        <!-- Título y subtítulos -->
                        <img class="imagen-seriesypelis" src="../img/Portadas_Amazon/Series/4.jpg">
                        <h1>Operación Marea Negra</h1>
                        <h3>Temporada 3</h3>
                        <h5>Drama | Acción | Episodios: 5</h5>
                                                
                        <!-- Botón de tráiler -->
                        <button class="btn-ver-apv" onclick="abrirTrailer('trailer34')"> Ver Tráiler
                        </button>
                            
                        <div id="trailer34" class="popupTrailer">
                        
                        <iframe width="410" height="355" src="https://www.youtube.com/embed/P3b6SKcKh9U?si=jcCTFCbPJ2-ZMnj0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            
                        <button class="btn-atras-apv" onclick="cerrarTrailer('trailer34')">Atrás</button>
                        
                        </div>

                        <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-apv">
                            <a href="https://www.primevideo.com/detail/0Q2V1C998VJMCK7AQ8YL3SXZCY/ref=atv_nb_lcl_es_ES?ie=UTF8&language=es_ES" target="_blank" class="href-enlaces">Ver Serie</a>
                        </button>
                            
                        <!-- Sinopsis -->
                        <p>Han pasado dos años y Nando cumple ahora condena a la espera de la sentencia firme. En la cárcel su popularidad no ha dejado de crecer y es que todos quieren contar con la valentía y determinación del joven ex boxeador quien, en secreto, hace negocios con unos y otros. Este apacible estatus acabará estallando tras un caprichoso giro de los eventos le obligará a tomar una dramática decisión.</p>
                                                
                        <!-- Botón para cerrar -->
                        <button class="btn-cerrar-apv" onclick="cerrarPopup('popup34')">Cerrar</button>
                                                
                        </div>
                    </li>
                
                    <li>
                        <i class="fa-solid fa-video"></i> Star Trek: Picard (Temporada 3).
                        <button class="btn-abrir-apv"  onclick="mostrarPopup('popup35')">Ver más</button>
                                
                        <div id="popup35" class="popup">
                                        
                        <!-- Título y subtítulos -->
                        <img class="imagen-seriesypelis" src="../img/Portadas_Amazon/Series/5.jpg">
                        <h1>Picard</h1>
                        <h3>Temporada 3</h3>
                        <h5>Ciencia Ficción | Drama | Aventura | Acción | Episodios: 10</h5>
                                                
                        <!-- Botón de tráiler -->
                        <button class="btn-ver-apv" onclick="abrirTrailer('trailer35')"> Ver Tráiler
                        </button>
                            
                        <div id="trailer35" class="popupTrailer">
                        
                        <iframe width="410" height="355" src="https://www.youtube.com/embed/DI9hty_iT4Q?si=U7bSyHyXFzPL_Uie" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            
                        <button class="btn-atras-apv" onclick="cerrarTrailer('trailer35')">Atrás</button>
                        
                        </div>

                        <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-apv">
                            <a href="https://www.primevideo.com/detail/0JWFKQ84ROFQ3BMG5LW6PCIJN4?ref_=av_auth_return_redir&language=es_ES" target="_blank" class="href-enlaces">Ver Serie</a>
                        </button>
                            
                        <!-- Sinopsis -->
                        <p>Star Trek: Picard presenta a Sir Patrick Stewart retomando su icónico papel como Jean-Luc Picard, el cual interpretó por siete temporadas en Star Trek: La Nueva Generación. La nueva serie seguirá a su personaje en el siguiente capítulo de su vida.</p>
                                                
                        <!-- Botón para cerrar -->
                        <button class="btn-cerrar-apv" onclick="cerrarPopup('popup35')">Cerrar</button>
                                                
                        </div>
                    </li>
                
                    <li>
                        <i class="fa-solid fa-video"></i> Carnival Row (Temporada 2).
                        <button class="btn-abrir-apv"  onclick="mostrarPopup('popup36')">Ver más</button>
                                
                        <div id="popup36" class="popup">
                                        
                        <!-- Título y subtítulos -->
                        <img class="imagen-seriesypelis" src="../img/Portadas_Amazon/Series/6.jpg">
                        <h1>Carnival Row</h1>
                        <h3>Temporada 2</h3>
                        <h5>Suspenso | Drama | Fantasía | Episodios: 10</h5>
                                                
                        <!-- Botón de tráiler -->
                        <button class="btn-ver-apv" onclick="abrirTrailer('trailer36')"> Ver Tráiler
                        </button>
                            
                        <div id="trailer36" class="popupTrailer">
                        
                        <iframe width="410" height="355" src="https://www.youtube.com/embed/P4LepVMlIZI?si=Jj7DL8RgCQPSsuVc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            
                        <button class="btn-atras-apv" onclick="cerrarTrailer('trailer36')">Atrás</button>
                        
                        </div>

                        <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-apv">
                            <a href="https://www.primevideo.com/detail/0IV9CZO9F1W92MF3HB93GQOD1P/ref=atv_dp_amz_c_UTPsmN_1_13?language=es_ES" target="_blank" class="href-enlaces">Ver Serie</a>
                        </button>
                            
                        <!-- Sinopsis -->
                        <p>Amor. Asesinato. Conspiración. Revolución. Cuando unos asesinatos misteriosos agravan las tensiones entre los Féericos y sus opresores humanos, cada habitante de "Callejón Carnival" debe decidir quién es y cómo actuar.</p>
                                                
                        <!-- Botón para cerrar -->
                        <button class="btn-cerrar-apv" onclick="cerrarPopup('popup36')">Cerrar</button>
                                                
                        </div>
                    </li>
                
                    <li>
                        <i class="fa-solid fa-video"></i> El consultor.
                        <button class="btn-abrir-apv"  onclick="mostrarPopup('popup37')">Ver más</button>
                                
                        <div id="popup37" class="popup">
                                        
                        <!-- Título y subtítulos -->
                        <img class="imagen-seriesypelis" src="../img/Portadas_Amazon/Series/7.jpg">
                        <h1>El consultor</h1>
                        <h3>Temporada 1</h3>
                        <h5>Comedia | Suspenso | Drama | Episodios: 8</h5>
                                                
                        <!-- Botón de tráiler -->
                        <button class="btn-ver-apv" onclick="abrirTrailer('trailer37')"> Ver Tráiler
                        </button>
                            
                        <div id="trailer37" class="popupTrailer">
                        
                        <iframe width="410" height="355" src="https://www.youtube.com/embed/Rj6gQdEyGXI?si=AMUzvAZY_NflbBuf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            
                        <button class="btn-atras-apv" onclick="cerrarTrailer('trailer37')">Atrás</button>
                        
                        </div>

                        <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-apv">
                            <a href="https://www.primevideo.com/detail/0POSPEUK3P85GI0HVDHT1XBM1G/ref=atv_dp_amz_c_UTPsmN_1_3?language=es_ES" target="_blank" class="href-enlaces">Ver Serie</a>
                        </button>
                            
                        <!-- Sinopsis -->
                        <p>Después de una tragedia indescriptible en CompWare, un estudio de videojuegos con sede en el centro de Los Ángeles, un consultor misterioso, Regus Patoff, llega a la ciudad y toma el mando.</p>
                                                
                        <!-- Botón para cerrar -->
                        <button class="btn-cerrar-apv" onclick="cerrarPopup('popup37')">Cerrar</button>
                                                
                        </div>
                    </li>
                
                    <li>
                        <i class="fa-solid fa-video"></i> Todos quieren a Daisy Jones.
                        <button class="btn-abrir-apv"  onclick="mostrarPopup('popup38')">Ver más</button>
                                
                        <div id="popup38" class="popup">
                                        
                        <!-- Título y subtítulos -->
                        <img class="imagen-seriesypelis" src="../img/Portadas_Amazon/Series/8.jpg">
                        <h1>Daisy Jones & The Six</h1>
                        <h3>Temporada 1</h3>
                        <h5>Drama | Romance | Episodios: 10</h5>
                                                
                        <!-- Botón de tráiler -->
                        <button class="btn-ver-apv" onclick="abrirTrailer('trailer38')"> Ver Tráiler
                        </button>
                            
                        <div id="trailer38" class="popupTrailer">
                        
                        <iframe width="410" height="355" src="https://www.youtube.com/embed/kSrcNCGMrLc?si=2o7jfDQoEuSgLZdL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            
                        <button class="btn-atras-apv" onclick="cerrarTrailer('trailer38')">Atrás</button>
                        
                        </div>

                        <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-apv">
                            <a href="https://www.primevideo.com/detail/0PTTLRQF3LB1X2N0OTNY32CH6S/ref=atv_dp_amz_c_UTPsmN_1_4?language=es_ES" target="_blank" class="href-enlaces">Ver Serie</a>
                        </button>
                            
                        <!-- Sinopsis -->
                        <p>En 1977, Daisy Jones & the Six estaban en la cima del mundo. La banda, liderada por dos misiles, Daisy Jones y Billy Dunne, pasó de la oscuridad a la fama. Luego, tras agotar las entradas en el Soldier Field de Chicago, dejaron de tocar. Ahora, décadas después, los miembros por fin concuerdan con revelar la verdad. Esta es la historia de cómo una banda icónica implosionó en la cima de su éxito.</p>
                                                
                        <!-- Botón para cerrar -->
                        <button class="btn-cerrar-apv" onclick="cerrarPopup('popup38')">Cerrar</button>
                                                
                        </div>
                    </li>
                
                    <li>
                        <i class="fa-solid fa-video"></i> Sin huellas.
                        <button class="btn-abrir-apv"  onclick="mostrarPopup('popup39')">Ver más</button>
                                
                        <div id="popup39" class="popup">
                                        
                        <!-- Título y subtítulos -->
                        <img class="imagen-seriesypelis" src="../img/Portadas_Amazon/Series/9.jpg">
                        <h1>Sin huellas</h1>
                        <h3>Temporada 1</h3>
                        <h5>Comedia | Acción | Episodios: 8</h5>
                                                
                        <!-- Botón de tráiler -->
                        <button class="btn-ver-apv" onclick="abrirTrailer('trailer39')"> Ver Tráiler
                        </button>
                            
                        <div id="trailer39" class="popupTrailer">
                        
                        <iframe width="410" height="355" src="https://www.youtube.com/embed/amUwVASQjKA?si=TdvNb3lLysaOwYAP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            
                        <button class="btn-atras-apv" onclick="cerrarTrailer('trailer39')">Atrás</button>
                        
                        </div>

                        <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-apv">
                            <a href="https://www.primevideo.com/detail/0IYTM0AC9F174HPYAL0FG78K1J/ref=atv_nb_lcl_es_ES?language=es_ES&ie=UTF8" target="_blank" class="href-enlaces">Ver Serie</a>
                        </button>
                            
                        <!-- Sinopsis -->
                        <p>Desi y Cata encuentran un cadáver en la mansión que acaban de limpiar. Horror. Pánico. Llega la policía. ¡Un momento! ¿Una gitana y una mexicana acaban de limpiar la escena del crimen? Son las culpables perfectas. Ahora deben escapar de la policía y también de unos sicarios rusos, una familia millonaria y un exmarido con una banda de mariachis. Veamos cómo hacen para salir de este entuerto.</p>
                                                
                        <!-- Botón para cerrar -->
                        <button class="btn-cerrar-apv" onclick="cerrarPopup('popup39')">Cerrar</button>
                                                
                        </div>
                    </li>
                
                    <li>
                        <i class="fa-solid fa-video"></i> El poder (The Power).
                        <button class="btn-abrir-apv"  onclick="mostrarPopup('popup40')">Ver más</button>
                                
                        <div id="popup40" class="popup">
                                        
                        <!-- Título y subtítulos -->
                        <img class="imagen-seriesypelis" src="../img/Portadas_Amazon/Series/10.jpg">
                        <h1>The Power</h1>
                        <h3>Temporada 1</h3>
                        <h5>Ciencia Ficción | Suspenso | Drama | Fantasía | Episodios: 9</h5>
                                                
                        <!-- Botón de tráiler -->
                        <button class="btn-ver-apv" onclick="abrirTrailer('trailer40')"> Ver Tráiler
                        </button>
                            
                        <div id="trailer40" class="popupTrailer">
                        
                        <iframe width="410" height="355" src="https://www.youtube.com/embed/A_QxGm_79sE?si=IKNIvkzNkH6gNu5z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            
                        <button class="btn-atras-apv" onclick="cerrarTrailer('trailer40')">Atrás</button>
                        
                        </div>

                        <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-apv">
                            <a href="https://www.primevideo.com/detail/amzn1.dv.gti.b291df15-4760-4525-b505-9d87640e4b9f?ref_=dvm_pds_tit_ar_hk_s_g_mkw_suTVNOSNq-dc_pcrid_651487578460&mrntrk=slid__pgrid_147279175379_pgeo_1000073_x__adext__ptid_kwd-1409568381488" target="_blank" class="href-enlaces">Ver Serie</a>
                        </button>
                            
                        <!-- Sinopsis -->
                        <p>El poder es un thriller mundial basado en la premiada novela de Naomi Alderman. El mundo de El poder es el nuestro, pero con una vuelta de tuerca. De pronto, las adolescentes desarrollan el poder de electrocutar personas a voluntad. Con personajes en Londres y Seattle, El poder evoluciona desde un hormigueo en las adolescentes hasta un cambio completo en el equilibrio de poderes.</p>
                                                
                        <!-- Botón para cerrar -->
                        <button class="btn-cerrar-apv" onclick="cerrarPopup('popup40')">Cerrar</button>
                                                
                        </div>
                    </li>
                </ul>
                        </section>
        
        <section class="amazon-pictures">
            <img src="../img/Amazon_Series/Amazon_1.jpeg" alt="">
            <img src="../img/Amazon_Series/Amazon_2.jpeg" alt="">
            <img src="../img/Amazon_Series/Amazon_3.jpeg" alt="">
            <img src="../img/Amazon_Series/Amazon_4.jpeg" alt="">
            <img src="../img/Amazon_Series/Amazon_5.jpeg" alt="">
            <img src="../img/Amazon_Series/Amazon_6.jpeg" alt="">
            <img src="../img/Amazon_Series/Amazon_7.jpeg" alt="">
            <img src="../img/Amazon_Series/Amazon_8.jpeg" alt="">
            <img src="../img/Amazon_Series/Amazon_9.jpeg" alt="">
            <img src="../img/Amazon_Series/Amazon_10.jpeg" alt="">
        </section>
          
        </section>
    </main>

    <!-- Pie de página -->
    <footer>
        <script src="https://kit.fontawesome.com/b75777cf68.js" crossorigin="anonymous"></script>

      <!-- Botón de suscripción -->
      <button class="btn-suscripcion-amazon">
        <a href="https://www.primevideo.com/offers/nonprimehomepage/ref=dvm_pds_brd_ar_hk_s_g_mkw_sithjbPJ1-dc_pcrid_645960031807?mrntrk=slid__pgrid_42306240648_pgeo_1000073_x__adext__ptid_kwd-37542788378" class="btn-enlace-amazon" target="_blank">Suscripción</a>
    </button> 

    </footer>
<script src="../js/main.js"></script>

</body>

</html>