<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/api.css">
    <link rel="stylesheet" href="../css/index.css">    
    <title>API</title>
    <link rel="stylesheet" href="css/style.css">
    <style type="text/css">


    </style>
</head>
<body>

     <!-- Encabezado -->
     <header>
        <nav>
            <div class="btn-header">
            <a href="../index.html"><img src="../img/Inicio.png" alt="">
            <h1 class="btn-inicio">Inicio</h1>
            </a>
            </div>
        </nav>
    </header>

    <section id="logo">
        <img src="../img/api.png" alt="">   
    </section>

    <section id="search">
        <input type="text" id="searchBar" placeholder="Ingresar nombre de película">
    </section>    

    <section id="container">

    </section>

    <script src="../js/app.js" type="module"></script>
</body>
</html>