<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../icon/Disney.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../css/general.css">
    <link rel="stylesheet" type="text/css" href="../css/disney.css">
    <title>Disney</title>
</head>

<body class="disney-background">

    <!-- Encabezado -->
    <header>
        <nav>
            <div class="btn-header">
            <a href="../index.html"><img src="../img/Inicio.png" alt="">
                <h1 class="btn-inicio">Inicio</h1>
            </a>
            <a href="netflix.html"><img src="../img/netflix.png" alt=""></a>
            <a href="amazon_prime_video.html"><img src="../img/amazon.png" alt=""></a>
            <a href="disney.html"><img src="../img/disney.png" alt=""></a>
            <a href="hbo_max.html"><img src="../img/hbo.png" alt=""></a>
            <a href="formulario.html"><img src="../img/formulario-de-contacto.png" alt=""></a>
            </div>
        </nav>
    </header>

    <!-- Contenido -->
    <main>

        <div class="titulo-disney">
            <video src="../videos/intro_disney.mp4" muted="" autoplay="" loop=""></video>
        </div>


        <section class="contenido">
            <div>
                <h1>¿Qué hay para ver en Disney?</h1>

                <p>La plataforma de streaming de Disney Plus cuenta con una amplia variedad de títulos de alta calidad que se estrenan todos los meses. Vas a poder ver películas y series que son originales de Disney, los clásicos de toda la vida como La cenicienta o Mulán, todas las películas de Toy Story y La Era del Hielo, entre muchas otras más.</p>
            </div>
        </section>

        <section>
            <div class="lineal">
                <div>
                    <h2>Las mejores series que tiene Disney</h2>

                    <ul class="lista-peliculas">
                        <li>
                            <i class="fa-solid fa-video"></i> Elementos.
                            <button class="btn-abrir-disney"  onclick="mostrarPopup('popup41')">Ver más</button>
                                
                            <div id="popup41" class="popup">
                                            
                            <!-- Título y subtítulos -->
                            <img class="imagen-seriesypelis" src="../img/Portadas_Disney/Pelis/1.jpg">
                            <h1>Elementos</h1>
                            <h5>Romance | Familiar | Comedia | Fantasía | Animación | 1h 41min</h5>
                                                    
                            <!-- Botón de tráiler -->
                            <button class="btn-ver-disney" onclick="abrirTrailer('trailer41')"> Ver Tráiler
                            </button>
                                
                            <div id="trailer41" class="popupTrailer">
                            
                                <iframe width="410" height="355" src="https://www.youtube.com/embed/MgzHRIeaOL8?si=QqRIStRUFyJS9zAn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                
                            <button class="btn-atras-disney" onclick="cerrarTrailer('trailer41')">Atrás</button>
                            
                            </div>

                            <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-disney">
                            <a href="https://www.disneyplus.com/es-419/movies/elementos/1B2ZQ9GF35W5" target="_blank" class="href-enlaces">Ver Película</a>
                        </button>
                                
                            <!-- Sinopsis -->
                            <p>En una ciudad en la que conviven el fuego, el agua, la tierra y el aire, una joven fogosa y un chico que se deja llevar descubren algo elemental: lo mucho que tienen en común.</p>
                                                    
                            <!-- Botón para cerrar -->
                            <button class="btn-cerrar-disney" onclick="cerrarPopup('popup41')">Cerrar</button>
                                                    
                            </div>
                        </li>
                
                        <li>
                            <i class="fa-solid fa-video"></i> La sirenita.
                            <button class="btn-abrir-disney"  onclick="mostrarPopup('popup42')">Ver más</button>
                                
                            <div id="popup42" class="popup">
                                            
                            <!-- Título y subtítulos -->
                            <img class="imagen-seriesypelis" src="../img/Portadas_Disney/Pelis/2.jpg">
                            <h1>La sirenita</h1>
                            <h5>Romance | Familiar | Fantasía | Musical | 2h 20min</h5>
                                                    
                            <!-- Botón de tráiler -->
                            <button class="btn-ver-disney" onclick="abrirTrailer('trailer42')"> Ver Tráiler
                            </button>
                                
                            <div id="trailer42" class="popupTrailer">
                            
                                <iframe width="410" height="355" src="https://www.youtube.com/embed/uIvBFUYzeOc?si=cpxedlq_YMVSk96U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                
                            <button class="btn-atras-disney" onclick="cerrarTrailer('trailer42')">Atrás</button>
                            
                            </div>
                            <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-disney">
                            <a href="https://www.disneyplus.com/es-419/movies/la-sirenita/5V7zkeKCcrWo" target="_blank" class="href-enlaces">Ver Película</a>
                        </button>
                                
                            <!-- Sinopsis -->
                            <p>Anhelando conocer el mundo más allá del mar, una joven sirena visita la superficie y se enamora del apuesto príncipe Eric. Siguiendo su corazón, hace un trato con la malvada bruja del mar, Úrsula, para experimentar la vida en tierra.</p>
                                                    
                            <!-- Botón para cerrar -->
                            <button class="btn-cerrar-disney" onclick="cerrarPopup('popup42')">Cerrar</button>
                                                    
                            </div>
                        </li>
                
                        <li>
                            <i class="fa-solid fa-video"></i> Guardianes de la Galaxia: Volumen 3.
                            <button class="btn-abrir-disney"  onclick="mostrarPopup('popup43')">Ver más</button>
                                
                            <div id="popup43" class="popup">
                                            
                            <!-- Título y subtítulos -->
                            <img class="imagen-seriesypelis" src="../img/Portadas_Disney/Pelis/3.png">
                            <h1>Guardianes de la Galaxia Vol. 3</h1>
                            <h5>Ciencia Ficción | Comedia | Superhéroes | Acción | Aventura | 2h 32min</h5>
                                                    
                            <!-- Botón de tráiler -->
                            <button class="btn-ver-disney" onclick="abrirTrailer('trailer43')"> Ver Tráiler
                            </button>
                                
                            <div id="trailer43" class="popupTrailer">
                            
                                <iframe width="410" height="355" src="https://www.youtube.com/embed/sinstLBy9l8?si=NnYSNJQvXdilkgkh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                
                            <button class="btn-atras-disney" onclick="cerrarTrailer('trailer43')">Atrás</button>
                            
                            </div>
                                
                            <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-disney">
                            <a href="https://www.disneyplus.com/es-419/movies/guardianes-de-la-galaxia-volumen-3/1tmc3nPw04S2" target="_blank" class="href-enlaces">Ver Película</a>
                        </button>

                            <!-- Sinopsis -->
                            <p>Aunque sigue afectado por la pérdida de Gamora, Peter Quill debe reunir a su equipo para defender el universo de una nueva amenaza o, en caso de fracasar, será el final de los Guardianes.</p>
                                                    
                            <!-- Botón para cerrar -->
                            <button class="btn-cerrar-disney" onclick="cerrarPopup('popup43')">Cerrar</button>
                                                    
                            </div>
                        </li>
                
                        <li>
                            <i class="fa-solid fa-video"></i> Ant-Man y la Avispa: Quantumanía.
                            <button class="btn-abrir-disney"  onclick="mostrarPopup('popup44')">Ver más</button>
                                
                            <div id="popup44" class="popup">
                                            
                            <!-- Título y subtítulos -->
                            <img class="imagen-seriesypelis" src="../img/Portadas_Disney/Pelis/4.png">
                            <h1>Ant-Man y la Avispa: Quantumanía</h1>
                            <h5>Ciencia Ficción | Superhéroes | Acción | Aventura | 2h 6min</h5>
                                                    
                            <!-- Botón de tráiler -->
                            <button class="btn-ver-disney" onclick="abrirTrailer('trailer44')"> Ver Tráiler
                            </button>
                                
                            <div id="trailer44" class="popupTrailer">
                            
                                <iframe width="410" height="355" src="https://www.youtube.com/embed/mjkQXxYn-ag?si=Bqa8NvsxxQqq6Ol3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                
                            <button class="btn-atras-disney" onclick="cerrarTrailer('trailer44')">Atrás</button>
                            
                            </div>
                        
                            <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-disney">
                            <a href="https://www.disneyplus.com/es-419/movies/ant-man-and-the-wasp-quantumania/7OLRMMgd1vkx" target="_blank" class="href-enlaces">Ver Película</a>
                        </button>

                            <!-- Sinopsis -->
                            <p>Los superhéroes se encuentran atrapados en el reino cuántico, donde conocen a nuevas y extrañas criaturas y luchan contra un nuevo enemigo: Kang, el Conquistador.</p>
                                                    
                            <!-- Botón para cerrar -->
                            <button class="btn-cerrar-disney" onclick="cerrarPopup('popup44')">Cerrar</button>
                                                    
                            </div>
                        </li>
                        <li>
                            <i class="fa-solid fa-video"></i> Black Panther: Wakanda Forever.
                            <button class="btn-abrir-disney"  onclick="mostrarPopup('popup45')">Ver más</button>
                                
                            <div id="popup45" class="popup">
                                            
                            <!-- Título y subtítulos -->
                            <img class="imagen-seriesypelis" src="../img/Portadas_Disney/Pelis/5.jpg">
                            <h1>Black Panther: Wakanda Forever</h1>
                            <h5>Ciencia Ficción | Superhéroes | Acción | Aventura | 2h 43min</h5>
                                                    
                            <!-- Botón de tráiler -->
                            <button class="btn-ver-disney" onclick="abrirTrailer('trailer45')"> Ver Tráiler
                            </button>
                                
                            <div id="trailer45" class="popupTrailer">
                            
                            <iframe width="410" height="355" src="https://www.youtube.com/embed/_Z3QKkl1WyM?si=3WURJlCnce_MsCZ4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                
                            <button class="btn-atras-disney" onclick="cerrarTrailer('trailer45')">Atrás</button>
                            
                            </div>
                        
                            <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-disney">
                            <a href="https://www.disneyplus.com/es-419/movies/pantera-negra-wakanda-por-siempre/7MAONYZ92wDT" target="_blank" class="href-enlaces">Ver Película</a>
                        </button>

                            <!-- Sinopsis -->
                            <p>Tras la muerte de T'Challa, la reina Ramonda, Shuri, M'Baku, Okoye y las Dora Milaje protegen Wakanda de la injerencia de las potencias mundiales.</p>
                                                    
                            <!-- Botón para cerrar -->
                            <button class="btn-cerrar-disney" onclick="cerrarPopup('popup45')">Cerrar</button>
                                                    
                            </div>
                        </li>
                
                        <li>
                            <i class="fa-solid fa-video"></i> Volcanes: La tragedia de Katia y Maurice Krafft.
                            <button class="btn-abrir-disney"  onclick="mostrarPopup('popup46')">Ver más</button>
                                
                            <div id="popup46" class="popup">
                                            
                            <!-- Título y subtítulos -->
                            <img class="imagen-seriesypelis" src="../img/Portadas_Disney/Pelis/6.jpg">
                            <h1>Volcanes: La tragedia de Katia y Maurice Krafft.</h1>
                            <h5>Documental | Biografía | Animales | Naturaleza | 1h 33min</h5>
                                                    
                            <!-- Botón de tráiler -->
                            <button class="btn-ver-disney" onclick="abrirTrailer('trailer46')"> Ver Tráiler
                            </button>
                                
                            <div id="trailer46" class="popupTrailer">
                            
                            <iframe width="410" height="355" src="https://www.youtube.com/embed/oMArx64RBO4?si=bQ0MvJq8dZqAX8uH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                
                            <button class="btn-atras-disney" onclick="cerrarTrailer('trailer46')">Atrás</button>
                            
                            </div>
                        
                            <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-disney">
                            <a href="https://www.disneyplus.com/es-419/movies/volcanes-la-tragedia-de-katia-y-maurice-krafft/1hC7erRfsl3B" target="_blank" class="href-enlaces">Ver Película</a>
                        </button>

                            <!-- Sinopsis -->
                            <p>Katia y Maurice Krafft, científicos y amantes, viajaron por el planeta a la caza de erupciones, documentando sus descubrimientos. Murieron en 1991, pero dejaron un legado que enriqueció el conocimiento del mundo natural.</p>
                                                    
                            <!-- Botón para cerrar -->
                            <button class="btn-cerrar-disney" onclick="cerrarPopup('popup46')">Cerrar</button>
                                                    
                            </div>
                        </li>
                
                        <li>
                            <i class="fa-solid fa-video"></i> Lightyear.
                            <button class="btn-abrir-disney"  onclick="mostrarPopup('popup47')">Ver más</button>
                                
                            <div id="popup47" class="popup">
                                            
                            <!-- Título y subtítulos -->
                            <img class="imagen-seriesypelis" src="../img/Portadas_Disney/Pelis/7.jpg">
                            <h1>Lightyear</h1>
                            <h5>Ciencia Ficción | Familiar | Animación | Acción | Aventura | 1h 45min</h5>
                                                    
                            <!-- Botón de tráiler -->
                            <button class="btn-ver-disney" onclick="abrirTrailer('trailer47')"> Ver Tráiler
                            </button>
                                
                            <div id="trailer47" class="popupTrailer">
                            
                            <iframe width="410" height="355" src="https://www.youtube.com/embed/WikwAJ3NQew?si=-jpIdxAO1RFmCgm3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                
                            <button class="btn-atras-disney" onclick="cerrarTrailer('trailer47')">Atrás</button>
                            
                            </div>
                        
                            <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-disney">
                            <a href="https://www.disneyplus.com/es-419/movies/lightyear/2Pq8mtUg7ztB" target="_blank" class="href-enlaces">Ver Película</a>
                        </button>

                            <!-- Sinopsis -->
                            <p>Buzz Lightyear se embarca en una aventura intergaláctica con un grupo de reclutas ambiciosos y su compañero robot. Los amigos tendrán que aprender a trabajar juntos para escapar del malvado Zurg y su ejército de robots.</p>
                                                    
                            <!-- Botón para cerrar -->
                            <button class="btn-cerrar-disney" onclick="cerrarPopup('popup47')">Cerrar</button>
                                                    
                            </div>
                        </li>
                
                        <li>
                            <i class="fa-solid fa-video"></i> Red.
                            <button class="btn-abrir-disney"  onclick="mostrarPopup('popup48')">Ver más</button>
                                
                            <div id="popup48" class="popup">
                                            
                            <!-- Título y subtítulos -->
                            <img class="imagen-seriesypelis" src="../img/Portadas_Disney/Pelis/8.jpg">
                            <h1>Red</h1>
                            <h5>Familiar | Comedia | Fantasía | Animación | 1h 40min</h5>
                                                    
                            <!-- Botón de tráiler -->
                            <button class="btn-ver-disney" onclick="abrirTrailer('trailer48')"> Ver Tráiler
                            </button>
                                
                            <div id="trailer48" class="popupTrailer">
                            
                            <iframe width="410" height="355" src="https://www.youtube.com/embed/upGoAejd7LM?si=3Js1WnWQQPdRY4fd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                
                            <button class="btn-atras-disney" onclick="cerrarTrailer('trailer48')">Atrás</button>
                            
                            </div>
                        
                            <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-disney">
                            <a href="https://www.disneyplus.com/es-419/movies/red/4mFPCXJi7N2m" target="_blank" class="href-enlaces">Ver Película</a>
                        </button>

                            <!-- Sinopsis -->
                            <p>Mei Lee, una niña de 13 años un poco rara pero segura de sí misma, que se debate entre seguir siendo la hija obediente que su madre quiere que sea y el caos de la adolescencia.</p>
                                                    
                            <!-- Botón para cerrar -->
                            <button class="btn-cerrar-disney" onclick="cerrarPopup('popup48')">Cerrar</button>
                                                    
                            </div>
                        </li>
                
                        <li>
                            <i class="fa-solid fa-video"></i> Black Widow.
                            <button class="btn-abrir-disney"  onclick="mostrarPopup('popup49')">Ver más</button>
                                
                            <div id="popup49" class="popup">
                                            
                            <!-- Título y subtítulos -->
                            <img class="imagen-seriesypelis" src="../img/Portadas_Disney/Pelis/9.jpg">
                            <h1>Black Widow</h1>
                            <h5>Espionaje | Superhéroes | Acción | Aventura | 2h 16min</h5>
                                                    
                            <!-- Botón de tráiler -->
                            <button class="btn-ver-disney" onclick="abrirTrailer('trailer49')"> Ver Tráiler
                            </button>
                                
                            <div id="trailer49" class="popupTrailer">
                            
                            <iframe width="410" height="355" src="https://www.youtube.com/embed/ybji16u608U?si=REMNJ2Vty4-akBov" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                
                            <button class="btn-atras-disney" onclick="cerrarTrailer('trailer49')">Atrás</button>
                            
                            </div>
                        
                            <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-disney">
                            <a href="https://www.disneyplus.com/es-419/movies/black-widow/3VfTap90rwZC" target="_blank" class="href-enlaces">Ver Película</a>
                        </button>

                            <!-- Sinopsis -->
                            <p>Una peligrosa conspiración, relacionada con su pasado, persigue a Natasha Romanoff, también conocida como Viuda Negra. La agente tendrá que lidiar con las consecuencias de haber sido espía, así como con las relaciones rotas, para sobrevivir.</p>
                                                    
                            <!-- Botón para cerrar -->
                            <button class="btn-cerrar-disney" onclick="cerrarPopup('popup49')">Cerrar</button>
                                                    
                            </div>
                        </li>
                
                        <li>
                            <i class="fa-solid fa-video"></i> Cruella.
                            <button class="btn-abrir-disney"  onclick="mostrarPopup('popup50')">Ver más</button>
                                
                            <div id="popup50" class="popup">
                                            
                            <!-- Título y subtítulos -->
                            <img class="imagen-seriesypelis" src="../img/Portadas_Disney/Pelis/10.jpg">
                            <h1>Cruella</h1>
                            <h5>Drama | Crimen | 2h 17min</h5>
                                                    
                            <!-- Botón de tráiler -->
                            <button class="btn-ver-disney" onclick="abrirTrailer('trailer50')"> Ver Tráiler
                            </button>
                                
                            <div id="trailer50" class="popupTrailer">
                            
                            <iframe width="410" height="355" src="https://www.youtube.com/embed/gmRKv7n2If8?si=yVEJTEO6UU748tQQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                
                            <button class="btn-atras-disney" onclick="cerrarTrailer('trailer50')">Atrás</button>
                            
                            </div>
                        
                            <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-disney">
                            <a href="https://www.disneyplus.com/es-419/movies/cruella/2GJTZuO8I01c" target="_blank" class="href-enlaces">Ver Película</a>
                        </button>

                            <!-- Sinopsis -->
                            <p>Decidida a convertirse en una exitosa diseñadora de moda, una joven y creativa estafadora llamada Estella se asocia con un par de ladrones para sobrevivir en las calles de Londres. Sin embargo, cuando su talento para la moda llama la atención de la legendaria diseñadora, la Baronesa von Hellman, Estella cambia el rumbo de su vida hasta que una serie de acontecimientos la llevan a asumir su lado malvado y a convertirse en la estridente y vengativa Cruella.</p>
                                                    
                            <!-- Botón para cerrar -->
                            <button class="btn-cerrar-disney" onclick="cerrarPopup('popup50')">Cerrar</button>
                                                    
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="content-all">
                    <div class="content-carousel">
                        <figure><img src="../img/Disney_Pelis/1.jpeg"></figure>
                        <figure><img src="../img/Disney_Pelis/2.jpeg"></figure>
                        <figure><img src="../img/Disney_Pelis/3.jpeg"></figure>
                        <figure><img src="../img/Disney_Pelis/4.jpeg"></figure>
                        <figure><img src="../img/Disney_Pelis/5.jpeg"></figure>
                        <figure><img src="../img/Disney_Pelis/6.jpeg"></figure>
                        <figure><img src="../img/Disney_Pelis/7.jpeg"></figure>
                        <figure><img src="../img/Disney_Pelis/8.jpeg"></figure>
                        <figure><img src="../img/Disney_Pelis/9.jpeg"></figure>
                        <figure><img src="../img/Disney_Pelis/10.jpeg"></figure>
                    </div>
                </div>  
            </div>
        </section>

        <section>
            <div class="lineal">
                <div>
                    <h2>Las mejores series que tiene Disney</h2>

                    <ul class="lista-peliculas">
                        <li>
                            <i class="fa-solid fa-video"></i> Ahsoka.
                            <button class="btn-abrir-disney"  onclick="mostrarPopup('popup51')">Ver más</button>
                                    
                            <div id="popup51" class="popup">
                                            
                            <!-- Título y subtítulos -->
                            <img class="imagen-seriesypelis" src="../img/Portadas_Disney/Series/1.jpg">
                            <h1>Ahsoka</h1>
                            <h3>Temporadas: 1</h3>
                            <h5>Ciencia Ficción | Acción | Aventura | Episodios: 8</h5>
                                                    
                            <!-- Botón de tráiler -->
                            <button class="btn-ver-disney" onclick="abrirTrailer('trailer51')"> Ver Tráiler
                            </button>
                                
                            <div id="trailer51" class="popupTrailer">
                            
                            <iframe width="410" height="355" src="https://www.youtube.com/embed/TabWCvQ4YRM?si=jFPl7pf9qYjnfSHT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                
                            <button class="btn-atras-disney" onclick="cerrarTrailer('trailer51')">Atrás</button>
                            
                            </div>
                        
                            <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-disney">
                            <a href="https://www.disneyplus.com/es-419/series/ahsoka/pdpjs2TO4zJ4" target="_blank" class="href-enlaces">Ver Serie</a>
                        </button>

                            <!-- Sinopsis -->
                            <p>Ahsoka continúa la historia donde la dejó Rebels, con la protagonista embarcándose en la búsqueda de su amigo Ezra Bridger, el padawan que lideró la revolución durante la rebelión inicial contra el Imperio Galáctico y al que en la serie dará vida Eman Esfandi.</p>
                                                    
                            <!-- Botón para cerrar -->
                            <button class="btn-cerrar-disney" onclick="cerrarPopup('popup51')">Cerrar</button>
                                                    
                            </div>
                        </li>
                    
                        <li>
                            <i class="fa-solid fa-video"></i> Secret Invasion.
                            <button class="btn-abrir-disney"  onclick="mostrarPopup('popup52')">Ver más</button>
                                    
                            <div id="popup52" class="popup">
                                            
                            <!-- Título y subtítulos -->
                            <img class="imagen-seriesypelis" src="../img/Portadas_Disney/Series/2.jpg">
                            <h1>Invasión secreta</h1>
                            <h3>Temporadas: 1</h3>
                            <h5>Ciencia Ficción | Espionaje | Superhéroes | Acción | Aventura | Episodios: 6</h5>
                                                    
                            <!-- Botón de tráiler -->
                            <button class="btn-ver-disney" onclick="abrirTrailer('trailer52')"> Ver Tráiler
                            </button>
                                
                            <div id="trailer52" class="popupTrailer">
                            
                            <iframe width="410" height="355" src="https://www.youtube.com/embed/DiJ71etOG8M?si=CRFxSvtAIN2gXTvg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                
                            <button class="btn-atras-disney" onclick="cerrarTrailer('trailer52')">Atrás</button>
                            
                            </div>
                           
                            <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-disney">
                            <a href="https://www.disneyplus.com/es-419/series/secret-invasion/3iHQtD1BDpgN?distributionPartner=google" target="_blank" class="href-enlaces">Ver Serie</a>
                        </button>

                            <!-- Sinopsis -->
                            <p>Nick Fury trabaja con Talos, un Skrull, un extraterrestre que cambia de forma, para descubrir una conspiración de un grupo de Skrulls renegados liderados por Gravik que planea hacerse con el control de Tierra haciéndose pasar por diferentes humanos alrededor del mundo.</p>
                                                    
                            <!-- Botón para cerrar -->
                            <button class="btn-cerrar-disney" onclick="cerrarPopup('popup52')">Cerrar</button>
                                                    
                            </div>
                        <li>
                            <i class="fa-solid fa-video"></i> I'm Groot.
                            <button class="btn-abrir-disney"  onclick="mostrarPopup('popup53')">Ver más</button>
                                    
                            <div id="popup53" class="popup">
                                            
                            <!-- Título y subtítulos -->
                            <img class="imagen-seriesypelis" src="../img/Portadas_Disney/Series/3.jpg">
                            <h1>I'm Groot</h1>
                            <h3>Temporadas: 2</h3>
                            <h5>Ciencia Ficción | Temporada 2 | Comedia | Animación | Episodios: 10</h5>
                                                    
                            <!-- Botón de tráiler -->
                            <button class="btn-ver-disney" onclick="abrirTrailer('trailer53')"> Ver Tráiler
                            </button>
                                
                            <div id="trailer53" class="popupTrailer">
                            
                            <iframe width="410" height="355" src="https://www.youtube.com/embed/t-0zuV7axCw?si=JPDyUEuVBAfi4r89" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                
                            <button class="btn-atras-disney" onclick="cerrarTrailer('trailer53')">Atrás</button>
                            
                            </div>
                        
                            <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-disney">
                            <a href="https://www.disneyplus.com/es-419/series/i-am-groot/3FfVmffm1ijj?distributionPartner=google" target="_blank" class="href-enlaces">Ver Serie</a>
                        </button>

                            <!-- Sinopsis -->
                            <p>Baby Groot es un travieso niño que crece y se mete en líos entre las estrellas como miembro del equipo de superhéroes Guardianes de la Galaxia.</p>
                                                    
                            <!-- Botón para cerrar -->
                            <button class="btn-cerrar-disney" onclick="cerrarPopup('popup53')">Cerrar</button>
                                                    
                            </div>
                        </li>
                    
                        <li>
                            <i class="fa-solid fa-video"></i> Star Wars: Young Jedi Adventures.
                            <button class="btn-abrir-disney"  onclick="mostrarPopup('popup54')">Ver más</button>
                                    
                            <div id="popup54" class="popup">
                                            
                            <!-- Título y subtítulos -->
                            <img class="imagen-seriesypelis" src="../img/Portadas_Disney/Series/4.jpg">
                            <h1>Star Wars: Young Jedi Adventures.</h1>
                            <h3>Temporadas: 1</h3>
                            <h5>Ciencia Ficción | Infantil | Animación | Acción | Aventura | Episodios: 13</h5>
                                                    
                            <!-- Botón de tráiler -->
                            <button class="btn-ver-disney" onclick="abrirTrailer('trailer54')"> Ver Tráiler
                            </button>
                                
                            <div id="trailer54" class="popupTrailer">
                            
                            <iframe width="410" height="355" src="https://www.youtube.com/embed/otoDnun24zM?si=gi5Q5pJtXYQMBk53" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                
                            <button class="btn-atras-disney" onclick="cerrarTrailer('trailer54')">Atrás</button>
                            
                            </div>
                        
                            <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-disney">
                            <a href="https://www.disneyplus.com/es-419/series/star-wars-young-jedi-adventures/1k04oXMTzL2n?distributionPartner=google" target="_blank" class="href-enlaces">Ver Serie</a>
                        </button>

                            <!-- Sinopsis -->
                            <p>Jóvenes jedi estudian los caminos de la Fuerza, exploran la galaxia, ayudan a los ciudadanos y a las criaturas necesitadas y, por el camino, aprenden valiosas habilidades necesarias para convertirse en jedi.</p>
                                                    
                            <!-- Botón para cerrar -->
                            <button class="btn-cerrar-disney" onclick="cerrarPopup('popup54')">Cerrar</button>
                                                    
                            </div>
                        </li>
                    
                        <li>
                            <i class="fa-solid fa-video"></i> American Born Chinese.
                            <button class="btn-abrir-disney"  onclick="mostrarPopup('popup55')">Ver más</button>
                                    
                            <div id="popup55" class="popup">
                                            
                            <!-- Título y subtítulos -->
                            <img class="imagen-seriesypelis" src="../img/Portadas_Disney/Series/5.jpg">
                            <h1>American Born Chinese</h1>
                            <h3>Temporadas: 1</h3>
                            <h5>Comedia | Fantasía| Acción | Aventura | Episodios: 8</h5>
                                                    
                            <!-- Botón de tráiler -->
                            <button class="btn-ver-disney" onclick="abrirTrailer('trailer55')"> Ver Tráiler
                            </button>
                                
                            <div id="trailer55" class="popupTrailer">
                            
                            <iframe width="410" height="355" src="https://www.youtube.com/embed/YrV3pOo3ycU?si=s370ewD4qiWVrdHn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                
                            <button class="btn-atras-disney" onclick="cerrarTrailer('trailer55')">Atrás</button>
                            
                            </div>
                        
                            <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-disney">
                            <a href="https://www.disneyplus.com/es-419/series/american-born-chinese/7ioMVSaWwKh4?distributionPartner=google" target="_blank" class="href-enlaces">Ver Serie</a>
                        </button>

                            <!-- Sinopsis -->
                            <p>Jin Wang, un adolescente normal, compagina su vida social en el instituto con su vida familiar. Cuando conoce a un nuevo estudiante, Jin se ve involuntariamente involucrado en una batalla de dioses mitológicos chinos.</p>
                                                    
                            <!-- Botón para cerrar -->
                            <button class="btn-cerrar-disney" onclick="cerrarPopup('popup55')">Cerrar</button>
                                                    
                            </div>
                        </li>
                        
                        <li>
                            <i class="fa-solid fa-video"></i> A Small Light.
                            <button class="btn-abrir-disney"  onclick="mostrarPopup('popup56')">Ver más</button>
                                    
                            <div id="popup56" class="popup">
                                            
                            <!-- Título y subtítulos -->
                            <img class="imagen-seriesypelis" src="../img/Portadas_Disney/Series/6.jpg">
                            <h1>A Small Light</h1>
                            <h3>Temporadas: 1</h3>
                            <h5>Drama | Biografía | Historia | Episodios: 8</h5>
                                                    
                            <!-- Botón de tráiler -->
                            <button class="btn-ver-disney" onclick="abrirTrailer('trailer56')"> Ver Tráiler
                            </button>
                                
                            <div id="trailer56" class="popupTrailer">
                            
                            <iframe width="410" height="355" src="https://www.youtube.com/embed/nsuk8ThvnpM?si=tC191KIh5hrQbi6z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                
                            <button class="btn-atras-disney" onclick="cerrarTrailer('trailer56')">Atrás</button>
                            
                            </div>
                        
                            <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-disney">
                            <a href="https://www.disneyplus.com/es-419/series/anne-frank-bujtatoja/5SHN2ZbYQXtL" target="_blank" class="href-enlaces">Ver Serie</a>
                        </button>

                            <!-- Sinopsis -->
                            <p>La historia de Miep Gies, una mujer holandesa que arriesgó su vida para proteger a la familia de Ana Frank de los nazis durante más de dos años durante la Segunda Guerra Mundial.</p>
                                                    
                            <!-- Botón para cerrar -->
                            <button class="btn-cerrar-disney" onclick="cerrarPopup('popup56')">Cerrar</button>
                                                    
                            </div>
                        </li>
                    
                        <li>
                            <i class="fa-solid fa-video"></i> The Muppets Mayhem.
                            <button class="btn-abrir-disney"  onclick="mostrarPopup('popup57')">Ver más</button>
                                    
                            <div id="popup57" class="popup">
                                            
                            <!-- Título y subtítulos -->
                            <img class="imagen-seriesypelis" src="../img/Portadas_Disney/Series/7.jpg">
                            <h1>The Muppets Mayhem</h1>
                            <h3>Temporadas: 1</h3>
                            <h5>Familiar | Comedia | Musical | Episodios: 10</h5>
                                                    
                            <!-- Botón de tráiler -->
                            <button class="btn-ver-disney" onclick="abrirTrailer('trailer57')"> Ver Tráiler
                            </button>
                                
                            <div id="trailer57" class="popupTrailer">
                            
                                <iframe width="410" height="355" src="https://www.youtube.com/embed/HhP4QiK8GzA?si=u1LLfZYXY7RuamsV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                
                            <button class="btn-atras-disney" onclick="cerrarTrailer('trailer57')">Atrás</button>
                            
                            </div>
                        
                            <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-disney">
                            <a href="https://www.disneyplus.com/es-419/series/the-muppets-mayhem/gd9MTUDboO90" target="_blank" class="href-enlaces">Ver Serie</a>
                        </button>

                            <!-- Sinopsis -->
                            <p>La Electric Mayhem Band, la banda de los Teleñecos de la vieja escuela se enfrenta a la escena musical actual en su intento de conseguir por fin un disco de platino.</p>
                                                    
                            <!-- Botón para cerrar -->
                            <button class="btn-cerrar-disney" onclick="cerrarPopup('popup57')">Cerrar</button>
                                                    
                            </div>
                        </li>
                    
                        <li>
                            <i class="fa-solid fa-video"></i> MPower.
                            <button class="btn-abrir-disney"  onclick="mostrarPopup('popup58')">Ver más</button>
                                    
                            <div id="popup58" class="popup">
                                            
                            <!-- Título y subtítulos -->
                            <img class="imagen-seriesypelis" src="../img/Portadas_Disney/Series/8.jpg">
                            <h1>MPower</h1>
                            <h3>Temporadas: 1</h3>
                            <h5>Docuserie | Episodios: 4</h5>
                                                    
                            <!-- Botón de tráiler -->
                            <button class="btn-ver-disney" onclick="abrirTrailer('trailer58')"> Ver Tráiler
                            </button>
                                
                            <div id="trailer58" class="popupTrailer">
                            
                            <iframe width="410" height="355" src="https://www.youtube.com/embed/SBPdq6be_Ss?si=4WtRcG2Kr4OLHgyl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                
                            <button class="btn-atras-disney" onclick="cerrarTrailer('trailer58')">Atrás</button>
                            
                            </div>
                        
                            <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-disney">
                            <a href="https://www.disneyplus.com/es-419/series/mpower/4NRWwrDEO3Uy" target="_blank" class="href-enlaces">Ver Serie</a>
                        </button>

                            <!-- Sinopsis -->
                            <p>La historia y las peripecias jamás contadas de las mujeres más emblemáticas del Universo Cinematográfico Marvel. Las mujeres comparten sus triunfos y se unen a los admiradores cuyas vidas fueron tocadas por las historias de sus héroes.</p>
                                                    
                            <!-- Botón para cerrar -->
                            <button class="btn-cerrar-disney" onclick="cerrarPopup('popup58')">Cerrar</button>
                                                    
                            </div>
                        </li>
                    
                        <li>
                            <i class="fa-solid fa-video"></i> Star Wars: Andor.
                            <button class="btn-abrir-disney"  onclick="mostrarPopup('popup59')">Ver más</button>
                                    
                            <div id="popup59" class="popup">
                                            
                            <!-- Título y subtítulos -->
                            <img class="imagen-seriesypelis" src="../img/Portadas_Disney/Series/9.jpg">
                            <h1>Star Wars: Andor</h1>
                            <h3>Temporadas: 1</h3>
                            <h5>Ciencia Ficción | Espionaje | Acción | Aventura | Episodios: 12</h5>
                                                    
                            <!-- Botón de tráiler -->
                            <button class="btn-ver-disney" onclick="abrirTrailer('trailer59')"> Ver Tráiler
                            </button>
                                
                            <div id="trailer59" class="popupTrailer">
                            
                                <iframe width="410" height="355" src="https://www.youtube.com/embed/cKOegEuCcfw?si=LJRm90h0NgQXQhRd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                
                            <button class="btn-atras-disney" onclick="cerrarTrailer('trailer59')">Atrás</button>
                            
                            </div>
                        
                            <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-disney">
                            <a href="https://www.disneyplus.com/es-419/series/star-wars-andor/3xsQKWG00GL5?distributionPartner=google" target="_blank" class="href-enlaces">Ver Serie</a>
                        </button>

                            <!-- Sinopsis -->
                            <p>La historia de los años formativos del espía rebelde Cassian Andor y sus difíciles misiones.</p>
                                                    
                            <!-- Botón para cerrar -->
                            <button class="btn-cerrar-disney" onclick="cerrarPopup('popup59')">Cerrar</button>
                                                    
                            </div>
                        </li>
                    
                        <li>
                            <i class="fa-solid fa-video"></i> Moon Knight.
                            <button class="btn-abrir-disney"  onclick="mostrarPopup('popup60')">Ver más</button>
                                    
                            <div id="popup60" class="popup">
                                            
                            <!-- Título y subtítulos -->
                            <img class="imagen-seriesypelis" src="../img/Portadas_Disney/Series/10.jpg">
                            <h1>Moon Knight</h1>
                            <h3>Temporadas: 1</h3>
                            <h5>Fantasía | Superhéroes | Acción | Aventura | Episodios: 6</h5>
                                                    
                            <!-- Botón de tráiler -->
                            <button class="btn-ver-disney" onclick="abrirTrailer('trailer60')"> Ver Tráiler
                            </button>
                                
                            <div id="trailer60" class="popupTrailer">
                            
                            <iframe width="410" height="355" src="https://www.youtube.com/embed/4QIbLY2ZOAU?si=EMJ7WlWM7ZFx3yBx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                
                            <button class="btn-atras-disney" onclick="cerrarTrailer('trailer60')">Atrás</button>
                            
                            </div>
                        
                            <!-- Botón de ver película/serie -->

                        <button class="enlace-ver-disney">
                            <a href="https://www.disneyplus.com/es-419/series/moon-knight/4S3oOF1knocS?distributionPartner=google" target="_blank" class="href-enlaces">Ver Serie</a>
                        </button>

                            <!-- Sinopsis -->
                            <p>Marc Spector, un mercenario que sufre de un trastorno de identidad disociativo, se ve envuelto en un misterio mortal que involucra a dioses egipcios con sus múltiples identidades, como Steven Grant.</p>
                                                    
                            <!-- Botón para cerrar -->
                            <button class="btn-cerrar-disney" onclick="cerrarPopup('popup60')">Cerrar</button>
                                                    
                            </div>
                        </li>
                    </ul>
                    </div>

                <div class="content-all">
                    <div class="content-carousel">
                        <figure><img src="../img/Disney_Series/1.jpeg"></figure>
                        <figure><img src="../img/Disney_Series/2.jpeg"></figure>
                        <figure><img src="../img/Disney_Series/3.jpeg"></figure>
                        <figure><img src="../img/Disney_Series/4.jpeg"></figure>
                        <figure><img src="../img/Disney_Series/5.jpeg"></figure>
                        <figure><img src="../img/Disney_Series/6.jpeg"></figure>
                        <figure><img src="../img/Disney_Series/7.jpeg"></figure>
                        <figure><img src="../img/Disney_Series/8.jpeg"></figure>
                        <figure><img src="../img/Disney_Series/9.jpeg"></figure>
                        <figure><img src="../img/Disney_Series/10.jpeg"></figure>    
                    </div>
                </div>  
            </div>
        </section>
    </main>

    <!-- Pie de página -->
    <footer>
        <script src="https://kit.fontawesome.com/b75777cf68.js" crossorigin="anonymous"></script>

          <!-- Botón de suscripción -->
    <button class="btn-suscripcion-disney">
        <a href="https://www.disneyplus.com" class="btn-enlace-disney" target="_blank">Suscripción</a>
    </button>

    </footer>

    <script src="../js/main.js"></script>

</body>

</html>