
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../icon/Formulario.ico" type="image/x-icon">
    <!-- RELACIONAR HTML CON SU ARCHIVO DE ESTILO -->
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <title>Formulario</title>
    <!-- JS para formulario de contacto -->
    <script>
        function validateForm() {
            var name = document.forms["contactForm"]["name"].value;
            var email = document.forms["contactForm"]["email"].value;
            var phone = document.forms["contactForm"]["phone"].value;
            var message = document.forms["contactForm"]["message"].value;

            if (name === "") {
                alert("Por favor, ingrese su nombre.");
                return false;
            }

            if (email === "") {
                alert("Por favor, ingrese su correo electrónico.");
                return false;
            }

            // Validar el campo de teléfono como numérico
            if (phone === "" || isNaN(phone)) {
                alert("Por favor, ingrese un número de teléfono válido.");
                return false;
            }

            if (message === "") {
                alert("Por favor, escriba su mensaje.");
                return false;
            }
            return true;
        }
    </script>

</head>

<body class="background-form">

    <section id="up"></section>
    <section id="down"></section>
    <section id="left"></section>
    <section id="right"></section>

    
    <!-- Encabezado -->
    <header >
        <nav>
            <a href="../index.html"><img src="../img/Inicio.png" alt=""></a>
            <a href="netflix.html"><img src="../img/netflix.png" alt=""></a>
            <a href="amazon_prime_video.html"><img src="../img/amazon.png" alt=""></a>
            <a href="disney.html"><img src="../img/disney.png" alt=""></a>
            <a href="hbo_max.html"><img src="../img/hbo.png" alt=""></a>
            <a href="formulario.html"><img src="../img/formulario-de-contacto.png" alt=""></a>
        </nav>
    </header>

    <!-- Contenido -->
    <main>
        <div class="contact-form">
            <h2 class="form-title">Contáctanos</h2>
            <form name="contactForm" action="https://formsubmit.co/w.obregon34@gmail.com" method="POST"
                onsubmit="return validateForm()">
                <div class="input-group">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="name" placeholder="Nombre">

                    <label for="phone">Teléfono</label>
                    <input type="tel" name="phone" id="phone" placeholder="Teléfono">

                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Email">

                    <label for="message">Mensaje</label>
                    <textarea name="message" id="message" cols="30" rows="5" placeholder="Mensaje"></textarea>

                    <div class="form-txt">
                        <input class="btn" type="submit" value="Enviar">
                    </div>
                </div>
            </form>
        </div>
    </main>

    <!-- Pie de página -->
    <footer>

    </footer>

</body>

</html>