<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icono Favicon -->
    <link rel="shortcut icon" href="../icon/Index_Icon.ico" type="image/x-icon">
    <!-- RELACIONAR HTML CON SU ARCHIVO DE ESTILO -->
    <link rel="stylesheet" type="text/css"  href="../css/informacion.css">
    <!-- JS para formulario de contacto -->
    <title>Informacion</title>

</head>

<body class="informacion-background">

    <!-- Encabezado -->
    <header>
        <nav>
            <a href="../index.html"><img src="../img/Inicio.png" alt=""></a>
        </nav>
    </header>

    <!-- Contenido -->
    <main class="contenido">

        <h1>Plataformas de streaming en Argentina</h1>

        <section>
            <div class="tabla">
                <!-- Tabla 1 -->
                <table border="1">
                    <!-- Encabezado (nombres de columnas) -->
                    <tr class="encabezado-tabla">
                        <th>Plataforma</th>
                        <th>Contenidos principales</th>
                        <th>Ver Catálogo</th>
                    </tr>

                    <!-- Plataforma 1 -->
                    <tr>
                        <td>Netflix</td>
                        <td>Películas, series, juegos y rutinas de ejercicio</td>
                        <td><a href="netflix.html">Link</a></td>
                    </tr>

                    <!-- Plataforma 2 -->
                    <tr>
                        <td>Amazon</td>
                        <td>Contenido exclusivo, series y películas.</td>
                        <td><a href="amazon_prime_video.html">Link</a></td>
                    </tr>

                    <!-- Plataforma 3 -->
                    <tr>
                        <td>Disney</td>
                        <td>Películas, series, mundo Marvel, Pixar, Nat Geo y Star Wars.</td>
                        <td><a href="disney.html">Link</a></td>

                    </tr>

                    <!-- Plataforma 4 -->
                    <tr>
                        <td>HBO</td>
                        <td>Series, películas de Warner y documentales originales.</td>
                        <td><a href="hbo_max.html">Link</a></td>
                    </tr>
                </table>
            </div>

            <h1>¿Cuánto sale suscribirse a streaming con impuestos?</h1>

            <div>
                <p>Desde hace un tiempo en Argentina se estableció el cobro de impuestos a suscripciones de plataformas
                    de streaming como Netflix o HBO Max, incluso también Spotify. Por esto, puede que te encuentres con
                    que las plataformas promocionan un precio determinado y que ese no sea el precio final.</p>
            </div>

            <p><strong>Carga impositiva para algunos servicios de streaming:</strong></p>
            <ul class="lista-peliculas">
                <li><strong>21%</strong> del IVA.</li>
                <li><strong>8%</strong> del impuesto pais.</li>
                <li><strong>45%</strong> por la resolución 4815/2020.</li>
            </ul>
            <p>En algunas regiones de Argentina se suma un 2% por ingresos brutos.</p>

            <p>Si hacemos una suma total de los impuestos que se cobra por algunos servicios de streaming, vemos que
                implica un 74% de costo adicional. Porcentaje que deberías tener en cuenta al contratar algunas
                plataformas.</p>

            <h1>Precios de streaming</h1>

            <p>A continuación te contamos un poco sobre cuánto cuesta contratar un servicio de streaming.</p>

            <p>Comparamos los precios considerando los impuestos que te mencionamos anteriormente, para que te sea más
                simple la elección final:</p>

            <div class="tabla">
                <!-- Tabla 2 -->
                <table border="1">
                    <!-- Encabezado (nombres de columnas) -->
                    <tr class="encabezado-tabla">
                        <th>Plataforma</th>
                        <th>Precios por Mes</th>
                        <th>Precios Anuales</th>
                        <th>Perfiles Maximos</th>
                        <th>Dispositivos en simultaneo</th>
                    </tr>

                    <!-- Plataforma 1 -->
                    <tr>
                        <td>Netflix</td>
                        <td>$1.700,00</td>
                        <td>N/A</td>
                        <td>6</td>
                        <td>4</td>
                    </tr>

                    <!-- Plataforma 2 -->
                    <tr>
                        <td>Amazon</td>
                        <td>$1.010,00</td>
                        <td>N/A</td>
                        <td>5</td>
                        <td>3</td>
                    </tr>

                    <!-- Plataforma 3 -->
                    <tr>
                        <td>Disney</td>
                        <td>$799,00</td>
                        <td>$6.999,00</td>
                        <td>7</td>
                        <td>4</td>
                    </tr>

                    <!-- Plataforma 4 -->
                    <tr>
                        <td>HBO</td>
                        <td>$318,00</td>
                        <td>$5.999,00</td>
                        <td>5</td>
                        <td>3</td>
                    </tr>
                </table>
            </div> 

        </section>
    </main>

    <!-- Pie de página -->
    <footer>

      
    </footer>

</body>

</html>